
.portfolio-box {
    width: 220px;
    height: 120px;
    background-color: #eee; 
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 3px solid #7b3a20;
    box-shadow: 4px 6px 10px rgba(0,0,0,0.25);
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease;
}

.portfolio-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;   
    background-color: transparent;
}
